@page "/ManageStore/{storeid:int}"
@using Server
@using Microsoft.EntityFrameworkCore

<h1>Store Dashboard</h1>

<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Staff">
            <h2>Staff</h2>

            <div class="grid-container">

                @if (staffList != null)
                {
                    @foreach (KeyValuePair<string, string> employee in staffList)
                    {
                        <RadzenCard Style="width:400px; margin-bottom: 20px; height:300px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="margin-top:20px">Employee:</div>
                                    <b>@employee.Key</b>
                                    <br />
                                    <RadzenImage Path="" Style="width:100px;" />
                                </div>
                                <div class="col-md-6">
                                    <div style="margin-top:20px">Role:</div>
                                    <b>@employee.Value</b>
                                </div>
                            </div>
                        </RadzenCard>
                    }
                }
            </div>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Promote or Demote">

            <div>
                <br />
                <h2>Promote or demote users</h2>
                <br />
                <Dropdown TItem="string" OnSelected="@OnSelected1">
                    <InitialTip>Action</InitialTip>
                    <ChildContent>
                        @foreach (var option in options)
                        {
                            <DropdownListItem Item="@option">@option</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>

                <Dropdown TItem="string" OnSelected="@OnSelected2">
                    <InitialTip>User</InitialTip>
                    <ChildContent>
                        @foreach (var user in registeredUsers)
                        {
                            <DropdownListItem Item="@user">@user</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>

                <h5 style="display: inline">to be &nbsp &nbsp </h5>

                <Dropdown TItem="string" OnSelected="@OnSelected3">
                    <InitialTip>New Role</InitialTip>
                    <ChildContent>
                        @foreach (var role in roles)
                        {
                            <DropdownListItem Item="@role">@role</DropdownListItem>
                        }
                    </ChildContent>
                </Dropdown>

                <br /><br />
                <button class="col-1 btn btn-primary" @onclick="(()=>ApplyAction())">Apply</button>

                <br /><br />
                <div class="login-msg" style="text-align:left; font-weight:bold">
                    <span>@AppointmentMessage</span>
                </div>

            </div>

        </RadzenTabsItem>

        <RadzenTabsItem Text="Discounts">
            <h2>Add New Discount</h2>
            <h2>Edit </h2>
        </RadzenTabsItem>

        <RadzenTabsItem Text="Purchases">
            <StoreHistory Username="@loggedInUser" StoreId="StoreId" />
        </RadzenTabsItem>

        <RadzenTabsItem Text="Products">

            <RadzenGrid @ref="productsGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true"
                        Data="@inventory" TItem="Tuple<ProductData, int>">
                <Columns>
                    <RadzenGridColumn Width="100px" TItem="Tuple<ProductData, int>" Property="Item1.ProductId" Title="Product ID" />
                    <RadzenGridColumn Width="100px" TItem="Tuple<ProductData, int>" Property="Item1.Name" Title="Product Name" />
                    <RadzenGridColumn Width="100px" TItem="Tuple<ProductData, int>" Property="Item1.Category" Title="Category" />
                    <RadzenGridColumn Width="100px" TItem="Tuple<ProductData, int>" Property="Item1.Details" Title="Details" />
                    <RadzenGridColumn Width="100px" TItem="Tuple<ProductData, int>" Property="Item1.Price" Title="Price" />
                </Columns>

            </RadzenGrid>

            <br /><br />

            <h2>Choose Product</h2>
            <RadzenDropDown AllowClear="true" TValue="string"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true"
                            Data="@inventory" TextProperty="Item1.Name" ValueProperty="Item1.Name" Style="margin-bottom: 20px" Change="@(args => SelectProduct(args))" />
            <br />

            <RadzenNumeric TValue="int" Style="margin-bottom: 20px" Change="@(args => ChangeAmount(args))" />

            <br />

            <RadzenButton Click="@(() => DeleteProduct())" Text="Delete All" Style="margin-bottom: 20px; width: 150px" />

            <RadzenButton Click="@(() => UpdateAmount())" Text="Update Amount" Style="margin-bottom: 20px; width: 150px" />


        </RadzenTabsItem>


    </Tabs>
</RadzenTabs>


@code {

    [Parameter]
    public int StoreId { get; set; }

    public StoreData store { get; set; }
    private List<string> registeredUsers;
    private Dictionary<string, string> staff;
    private List<KeyValuePair<string, string>> staffList;
    private string[] roles = new string[] { "Manager", "Owner" };
    private string[] options = new string[] { "Promote", "Demote" };
    private string loggedInUser;
    public string AppointmentMessage { get; set; }
    private List<Tuple<ProductData, int>> inventory { get; set; }
    private string selectedProduct;
    private int newAmount;

    private string selectedUser;
    private string selectedRole;
    private string selectedOption;


    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        GetAllRegisteredUsersResponse response = await service.GetAllActiveUsers();
        registeredUsers = response.Users;
        loggedInUser = await ((MyAuthenticationStateProvider)AuthenticationStateProvider).GetLoggedInUsername();
        staff = await service.GetStaff(StoreId);
        staffList = staff.ToList();
        InventoryData invData = await service.GetStoresInventory(StoreId);
        inventory = invData.invProducts;
        //allProducts = (List<string>)inventory.Select(x => x.Item1.Name);
    }

    private void SelectProduct(object name)
    {
        selectedProduct = (string)name;
    }

    private void DeleteProduct()
    {

    }

    private void ChangeAmount(object newAnoumt)
    {
        newAmount = (int)newAnoumt;
    }

    private void UpdateAmount()
    {

    }

    private async void ApplyAction()
    {

        Tuple<bool, string> successErrorTuple = new Tuple<bool, string>(false, "default error");

        if (selectedOption == "Promote" && selectedRole == "Owner")
            successErrorTuple = await service.AppointOwner(loggedInUser, selectedUser, StoreId);


        if (selectedOption == "Promote" && selectedRole == "Manager")
            successErrorTuple = await service.AppointManager(loggedInUser, selectedUser, StoreId);

        if (selectedOption == "Demote" && selectedRole == "Owner")
            successErrorTuple = await service.DemoteOwner(loggedInUser, selectedUser, StoreId);

        if (selectedOption == "Demote" && selectedRole == "Manager")
            successErrorTuple = await service.DemoteOwner(loggedInUser, selectedUser, StoreId);


        if (successErrorTuple.Item1)
            AppointmentMessage = "Operation applied successfully";

        else
            AppointmentMessage = successErrorTuple.Item2; // the error

    }

    private void OnSelected1(string selection)
    {
        selectedOption = selection;
    }

    private void OnSelected2(string selection)
    {
        selectedUser = selection;
    }

    private void OnSelected3(string selection)
    {
        selectedRole = selection;
    }

    RadzenGrid<Tuple<ProductData, int>> productsGrid;

    void EditRow()
    {

    }
}
